.select-container {
  width: 100%;
}
.select {
  --select-background-color: var(--sds-color-bg-default-default);
  --select-text-color: var(--sds-color-text-default-default);
  --select-border-color: var(--sds-color-border-default-default);
  align-items: center;
  background-color: var(--select-background-color);
  box-shadow: inset 0 0 0 var(--sds-size-border-width)
    var(--select-border-color);
  border-radius: var(--sds-size-radius-base);
  color: var(--select-text-color);
  display: flex;
  gap: var(--sds-size-gap-sm);
  padding: var(--sds-size-padding-md) var(--sds-size-padding-lg);
  position: relative;
  justify-content: space-between;
  width: 100%;

  > .icon {
    --icon-color: var(--sds-color-icon-default-default);
    margin-right: var(--sds-size-gap-negative-sm);
  }

  > .select-value {
    align-items: center;
    color: var(--select-text-color);
    display: flex;
    gap: var(--sds-size-gap-sm);

    &[data-placeholder] {
      --select-text-color: var(--sds-color-text-default-tertiary);
    }

    .select-item-check {
      display: none;
    }
  }

  &[data-disabled] {
    --select-background-color: var(--sds-color-bg-disabled-default);
    --select-text-color: var(--sds-color-text-disabled-default);
    --select-border-color: var(--sds-color-border-disabled-secondary);
  }

  &:has(~ .error-message):not([data-disabled]),
  &[data-invalid]:not([data-disabled]) {
    --select-border-color: var(--sds-color-border-danger-default);
  }

  &[data-focus-visible] {
    --select-border-color: var(--sds-color-border-brand-secondary);
  }
}

.select-item {
  gap: var(--sds-size-gap-sm);
  min-width: calc(var(--sds-size-gap-lg) * 10);
  padding-left: var(--sds-size-padding-xs);

  .select-item-check {
    opacity: 0;
  }
  &[data-selected] .select-item-check {
    opacity: 1;
  }
}
