/* clears the 'X' from Internet Explorer */
.input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  display: none;
}

.root {
  position: relative;
}

.input {
  border-radius: var(--sds-size-radius-full);
  padding-right: calc(var(--sds-size-space-800) + var(--sds-size-space-100));
}

.icon {
  position: absolute;
  top: 50%;
  right: var(--sds-size-space-100);
  transform: translateY(-50%);
}
