.text-body-base {
  font: var(--sds-font-body-base);
}
.text-body-small {
  font: var(--sds-font-body-small);
}
.text-body-strong {
  font: var(--sds-font-body-strong);
}
.text-body-emphasis {
  font: var(--sds-font-body-emphasis);
}
.text-body-link {
  font: var(--sds-font-body-link);
}
.text-body-link {
  color: inherit;
  text-decoration: underline;
}
.text-input {
  font: var(--sds-font-input);
}
.text-body-code {
  font: var(--sds-font-body-code);
}
.text-subtitle {
  font: var(--sds-font-subtitle);
}
.text-subheading {
  font: var(--sds-font-subheading);
}
.text-heading {
  font: var(--sds-font-heading);
}
.text-title-hero {
  font: var(--sds-font-title-hero);
}
.text-title-page {
  font: var(--sds-font-title-page);
}

.text-list {
  color: var(--sds-color-text-default-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-gap-md);
  margin: 0;
  padding: 1rem;
}
.text-list-item {
  font: var(--sds-font-body);
}

.text-price {
  align-items: end;
  display: flex;
  gap: var(--sds-size-gap-sm);

  > .text-body-small {
    margin-bottom: var(--sds-size-gap-md);
  }
}
