.text {
  line-height: var(--global-line-height-paragraph);
  font: var(--sds-font-body-base);
}
.text-code {
  font: var(--sds-font-code);
}

.link.text-link {
  color: var(--sds-color-text-brand-secondary);
  text-decoration: underline;
}

.text-strong {
  font: var(--sds-font-body-strong);
}

.text-heading {
  font: var(--sds-font-heading);
}

.text-subheading {
  font: var(--sds-font-subheading);
}

.text-subtitle {
  font: var(--sds-font-subtitle);
}

.text-hero {
  font: var(--sds-font-subtitle);
}

.text-list {
  color: var(--sds-color-text-default-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-gap-md);
  margin: 0;
  padding: 1rem;
}
.text-list-item {
  font: var(--sds-font-body);
}
