.grid {
  --grid-align-primary: initial;
  --grid-align-secondary: initial;
  --grid-gap: 0px;
  --grid-padding-x: 0;
  --grid-padding-y: 0;
  align-items: var(--grid-align-secondary);
  display: grid;
  gap: var(--grid-gap);
  grid-column: span 12;
  justify-content: var(--grid-align-primary);
  margin: 0 auto;
  max-width: calc(var(--sds-responsive-width-device-min));
  width: 100%;

  &.grid-type-quarter {
    --column-major: var(--sds-responsive-ratio-column-quarter-major);
    --column-minor: var(--sds-responsive-ratio-column-quarter-minor);
  }
  &.grid-type-third {
    --column-major: var(--sds-responsive-ratio-column-third-major);
    --column-minor: var(--sds-responsive-ratio-column-third-minor);
  }

  > .grid-item-size-full {
    --column-ratio: var(--sds-responsive-ratio-column-full);
  }
  > .grid-item-size-half {
    --column-ratio: var(--sds-responsive-ratio-column-half);
  }
  > .grid-item-size-major {
    --column-ratio: var(--column-major);
  }
  > .grid-item-size-minor {
    --column-ratio: var(--column-minor);
  }
}

.grid-auto {
  display: flex;
  flex-wrap: wrap;
  > .grid-item,
  > .grid {
    flex: 1;
  }
  &.grid-direction-column {
    flex-direction: column;
  }
  &.grid-direction-row {
    flex-direction: row;
  }

  > .grid-item {
    --column-count: calc(1 / var(--column-ratio));
    --base-width: calc(
      (100% / var(--column-count)) -
        (((var(--column-count) - 1) / var(--column-count)) * var(--grid-gap))
    );
    --column-span: calc(var(--column-ratio) * var(--column-count));
    flex-basis: calc(var(--column-span) * var(--base-width));
    max-width: calc(var(--column-span) * var(--base-width));
  }
}

.grid:not(.grid-auto) {
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns: repeat(12, 1fr);

  > .grid-item {
    grid-column: span calc(var(--column-ratio) / 1 * 12);
  }
}

.grid-align-primary-center {
  --grid-align-primary: center;
}
.grid-align-primary-start {
  --grid-align-primary: start;
}
.grid-align-primary-end {
  --grid-align-primary: end;
}
.grid-align-primary-stretch {
  --grid-align-primary: stretch;
}
.grid-align-secondary-center {
  --grid-align-secondary: center;
}
.grid-align-secondary-start {
  --grid-align-secondary: start;
}
.grid-align-secondary-end {
  --grid-align-secondary: end;
}
.grid-align-secondary-stretch {
  --grid-align-secondary: stretch;
}

.grid-gap-xs {
  --grid-gap: var(--sds-size-gap-xs);
}
.grid-gap-sm {
  --grid-gap: var(--sds-size-gap-sm);
}
.grid-gap-md {
  --grid-gap: var(--sds-size-gap-md);
}
.grid-gap-lg {
  --grid-gap: var(--sds-size-gap-lg);
}
.grid-gap-xl {
  --grid-gap: var(--sds-size-gap-xl);
}

.section {
  box-sizing: border-box;
  padding: var(--padding-y) var(--sds-size-padding-section-sm);
  width: 100%;
}
.section-padding-sm {
  --padding-y: var(--sds-size-padding-section-sm);
}
.section-padding-md {
  --padding-y: var(--sds-size-padding-section-md);
}
.section-padding-lg {
  --padding-y: var(--sds-size-padding-section-lg);
}

.section-variant-brand {
  background: var(--sds-color-bg-brand-default);
  color: var(--sds-color-text-brand-onbrand);
}
.section-variant-secondary {
  background: var(--sds-color-bg-default-tertiary);
}
.section-variant-stroke {
  &:not(:last-child) {
    border-bottom: var(--sds-responsive-border-width) solid
      var(--sds-color-border-default-default);
  }
  &:not(:first-child) {
    border-top: var(--sds-responsive-border-width) solid
      var(--sds-color-border-default-default);
  }
  & + .section-variant-stroke {
    border-top: none;
  }
}
.section-variant-subtle {
  background: transparent;
}
