.layout {
  --layout-align-primary: initial;
  --layout-align-secondary: initial;
  --layout-gap: 0px;
  --layout-padding-x: 0;
  --layout-padding-y: 0;
  align-items: var(--layout-align-secondary);
  display: flex;
  flex-wrap: wrap;
  gap: var(--layout-gap);
  justify-content: var(--layout-align-primary);
  margin: 0 auto;
  max-width: calc(var(--sds-responsive-width-device-min));
  width: 100%;

  &:not(.layout-flow) {
    &.layout-type-quarter {
      --column-major: var(--sds-responsive-ratio-column-quarter-major);
      --column-minor: var(--sds-responsive-ratio-column-quarter-minor);
    }
    &.layout-type-third {
      --column-major: var(--sds-responsive-ratio-column-third-major);
      --column-minor: var(--sds-responsive-ratio-column-third-minor);
    }

    > :not(.layout-item) {
      --column-ratio: var(--column-minor);
    }

    > .layout-item-size-full {
      --column-ratio: var(--sds-responsive-ratio-column-full);
    }
    > .layout-item-size-half {
      --column-ratio: var(--sds-responsive-ratio-column-half);
    }
    > .layout-item-size-major {
      --column-ratio: var(--column-major);
    }
    > .layout-item-size-minor {
      --column-ratio: var(--column-minor);
    }

    &.layout-direction-row > * {
      --column-count: calc(1 / var(--column-ratio));
      --base-width: calc(
        (100% / var(--column-count)) -
          (
            ((var(--column-count) - 1) / var(--column-count)) *
              var(--layout-gap)
          )
      );
      --column-span: calc(var(--column-ratio) * var(--column-count));
      flex-basis: calc(var(--column-span) * var(--base-width));
      max-width: calc(var(--column-span) * var(--base-width));
    }
  }

  &.layout-direction-column {
    flex-direction: column;
  }
  &.layout-direction-row {
    flex-direction: row;
  }

  &.layout-flow {
    flex-direction: row;
  }
}

.layout-align-primary-center {
  --layout-align-primary: center;
}
.layout-align-primary-start {
  --layout-align-primary: start;
}
.layout-align-primary-end {
  --layout-align-primary: end;
}
.layout-align-primary-stretch {
  --layout-align-primary: stretch;
}
.layout-align-secondary-center {
  --layout-align-secondary: center;
}
.layout-align-secondary-start {
  --layout-align-secondary: start;
}
.layout-align-secondary-end {
  --layout-align-secondary: end;
}
.layout-align-secondary-stretch {
  --layout-align-secondary: stretch;
}

.layout-gap-xs {
  --layout-gap: var(--sds-size-gap-xs);
}
.layout-gap-sm {
  --layout-gap: var(--sds-size-gap-sm);
}
.layout-gap-md {
  --layout-gap: var(--sds-size-gap-md);
}
.layout-gap-lg {
  --layout-gap: var(--sds-size-gap-lg);
}
.layout-gap-xl {
  --layout-gap: var(--sds-size-gap-xl);
}

.section {
  box-sizing: border-box;
  padding: var(--padding-y) var(--sds-size-padding-section-sm);
  width: 100%;
}
.section-padding-sm {
  --padding-y: var(--sds-size-padding-section-sm);
}
.section-padding-md {
  --padding-y: var(--sds-size-padding-section-md);
}
.section-padding-lg {
  --padding-y: var(--sds-size-padding-section-lg);
}
.section-padding-xl {
  --padding-y: var(--sds-size-padding-section-lg);
}

.section-variant-brand {
  background: var(--sds-color-bg-brand-default);
  color: var(--sds-color-text-brand-onbrand);
}
.section-variant-secondary {
  background: var(--sds-color-bg-default-tertiary);
}
.section-variant-stroke {
  &:not(:last-child) {
    border-bottom: var(--sds-responsive-border-width) solid
      var(--sds-color-border-default-default);
  }
  &:not(:first-child) {
    border-top: var(--sds-responsive-border-width) solid
      var(--sds-color-border-default-default);
  }
  & + .section-variant-stroke {
    border-top: none;
  }
}
.section-variant-subtle {
  background: transparent;
}
