.tag-button {
  cursor: pointer;
}

.tag:has(.tag-remove-button[data-focus-visible]),
.tag-toggle[data-focus-visible],
.tag-button[data-focus-visible] {
  outline: none;
  position: relative;
  --offset: calc(var(--sds-responsive-border-width) * 2);
  &::before {
    content: "";
    border-radius: calc(var(--border-radius) + var(--offset));
    bottom: calc(-1 * var(--offset));
    box-shadow: 0 0 0 var(--global-focus-ring-size)
      var(--global-focus-ring-color);
    left: calc(-1 * var(--offset));
    position: absolute;
    right: calc(-1 * var(--offset));
    top: calc(-1 * var(--offset));
  }
}

.tag-remove-button {
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  padding: 0;
  > .icon {
    --icon-color: var(--tag-icon);
  }
}

.tag {
  --border-radius: var(--sds-size-radius-xs);
  align-items: center;
  background-color: var(--tag-background-color);
  border-radius: var(--border-radius);
  color: var(--tag-color);
  display: inline-flex;
  gap: var(--sds-size-gap-md);
  justify-content: center;
  line-height: 1;
  padding: var(--sds-size-padding-sm) var(--sds-size-padding-sm);
}

.tag-scheme-default {
  --tag-color: var(--sds-color-text-brand-onbrand);
  --tag-icon: var(--sds-color-icon-brand-onbrand);
  --tag-background-color: var(--sds-color-bg-brand-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-bg-brand-hover);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-brand-onbrand-tertiary);
    --tag-icon: var(--sds-color-icon-brand-onbrand-tertiary);
    --tag-background-color: var(--sds-color-bg-brand-tertiary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(--sds-color-bg-default-tertiary-hover);
    }
  }
}
.tag-scheme-danger {
  --tag-color: var(--sds-color-text-danger-ondanger);
  --tag-icon: var(--sds-color-icon-danger-ondanger);
  --tag-background-color: var(--sds-color-bg-danger-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-bg-danger-hover);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-danger-ondanger-secondary);
    --tag-icon: var(--sds-color-icon-danger-ondanger-secondary);
    --tag-background-color: var(--sds-color-bg-danger-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(--sds-color-bg-danger-secondary-hover);
    }
  }
}
.tag-scheme-positive {
  --tag-color: var(--sds-color-text-positive-onpositive);
  --tag-icon: var(--sds-color-icon-positive-onpositive);
  --tag-background-color: var(--sds-color-bg-positive-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-bg-positive-hover);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-positive-onpositive-secondary);
    --tag-icon: var(--sds-color-icon-positive-onpositive-secondary);
    --tag-background-color: var(--sds-color-bg-positive-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(--sds-color-bg-positive-secondary-hover);
    }
  }
}
.tag-scheme-warning {
  --tag-color: var(--sds-color-text-warning-onwarning);
  --tag-icon: var(--sds-color-icon-warning-onwarning);
  --tag-background-color: var(--sds-color-bg-warning-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-bg-warning-hover);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-warning-onwarning-secondary);
    --tag-icon: var(--sds-color-icon-warning-onwarning-secondary);
    --tag-background-color: var(--sds-color-bg-warning-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(--sds-color-bg-warning-secondary-hover);
    }
  }
}
.tag-scheme-brand {
  --tag-color: var(--sds-color-text-brand-onbrand);
  --tag-icon: var(--sds-color-icon-brand-onbrand);
  --tag-background-color: var(--sds-color-bg-brand-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-bg-brand-hover);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-brand-onbrand-secondary);
    --tag-icon: var(--sds-color-icon-brand-onbrand-secondary);
    --tag-background-color: var(--sds-color-bg-brand-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(--sds-color-bg-brand-secondary-hover);
    }
  }
}
.tag-scheme-neutral {
  --tag-color: var(--sds-color-text-default-default);
  --tag-icon: var(--sds-color-icon-default-default);
  --tag-background-color: var(--sds-color-bg-default-tertiary);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-bg-default-tertiary-hover);
  }

  &.tag-variant-secondary {
    --tag-background-color: var(--sds-color-bg-default-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(--sds-color-bg-default-secondary-hover);
    }
  }
}

.tag-toggle {
  --tag-color: var(--sds-color-text-brand-tertiary);
  --tag-background-color: transparent;
  --tag-border-color: var(--sds-color-border-brand-default);
  box-shadow: inset 0 0 0 var(--sds-responsive-border-width)
    var(--tag-border-color);
  cursor: pointer;
  outline: none;
  &[data-selected] {
    --tag-color: var(--sds-color-text-brand-onbrand);
    --tag-background-color: var(--sds-color-bg-brand-default);
    --tag-border-color: transparent;
  }
}

.tag-toggle-list {
  display: flex;
  gap: var(--sds-size-gap-sm);
}

.tag-toggle-group {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-gap-sm);
}
