.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pagination-list {
  align-items: center;
  display: flex;
  gap: var(--sds-size-space-200);
}
