.navigation {
  display: flex;
  align-items: center;
  gap: var(--sds-size-gap-sm);
}

.navigation-direction-row {
  flex-direction: row;
}
.navigation-direction-column {
  flex-direction: column;
}

.navigation-item {
  --border-radius: var(--sds-size-radius-base);
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--sds-color-text-default-default);
  cursor: pointer;
  padding: var(--sds-size-padding-sm);
  position: relative;

  &[data-selected] {
    color: var(--sds-color-text-brand-onbrand-secondary);
    background: var(--sds-color-bg-brand-tertiary);
  }

  &[data-focus-visible] {
    outline: none;
    --offset: calc(var(--sds-size-border-width) * 2);
    &::before {
      content: "";
      border-radius: calc(var(--border-radius) + var(--offset));
      bottom: calc(-1 * var(--offset));
      box-shadow: 0 0 0 var(--global-focus-ring-size)
        var(--global-focus-ring-color);
      left: calc(-1 * var(--offset));
      position: absolute;
      right: calc(-1 * var(--offset));
      top: calc(-1 * var(--offset));
    }
  }
}
