.grid {
  --grid-align-primary: initial;
  --grid-align-secondary: initial;
  --grid-gap: 0;
  --grid-padding-x: 0;
  --grid-padding-y: 0;
  align-items: var(--grid-align-secondary);
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);

  justify-content: var(--grid-align-primary);
  margin: 0 auto;
  max-width: calc(var(--sds-responsive-width-device-min));
  padding: var(--grid-padding-y) var(--grid-padding-x);
  width: 100%;

  > .grid-item {
    flex: 1;
    flex-shrink: 1;
  }
}
.grid-center {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.grid-direction-column {
  flex-direction: column;
}
.grid-direction-row {
  flex-direction: row;
}

.grid-align-primary-center {
  --grid-align-primary: center;
}
.grid-align-primary-start {
  --grid-align-primary: flex-start;
}
.grid-align-primary-end {
  --grid-align-primary: flex-end;
}
.grid-align-secondary-center {
  --grid-align-secondary: center;
}
.grid-align-secondary-start {
  --grid-align-secondary: flex-start;
}
.grid-align-secondary-end {
  --grid-align-secondary: flex-end;
}

.grid-gap-xs {
  --grid-gap: var(--sds-size-gap-xs);
}
.grid-gap-sm {
  --grid-gap: var(--sds-size-gap-sm);
}
.grid-gap-md {
  --grid-gap: var(--sds-size-gap-md);
}
.grid-gap-lg {
  --grid-gap: var(--sds-size-gap-lg);
}
.grid-gap-xl {
  --grid-gap: var(--sds-size-gap-xl);
}

.grid-padding-xs {
  --grid-padding-x: var(--sds-size-padding-xs);
  --grid-padding-y: var(--sds-size-padding-xs);
}
.grid-padding-sm {
  --grid-padding-x: var(--sds-size-padding-sm);
  --grid-padding-y: var(--sds-size-padding-sm);
}
.grid-padding-md {
  --grid-padding-x: var(--sds-size-padding-md);
  --grid-padding-y: var(--sds-size-padding-md);
}
.grid-padding-lg {
  --grid-padding-x: var(--sds-size-padding-lg);
  --grid-padding-y: var(--sds-size-padding-lg);
}
.grid-padding-xl {
  --grid-padding-x: var(--sds-size-padding-xl);
  --grid-padding-y: var(--sds-size-padding-xl);
}
.grid-padding-xxl {
  --grid-padding-x: var(--sds-size-padding-xxl);
  --grid-padding-y: var(--sds-size-padding-xxl);
}

.grid-padding-x-xs {
  --grid-padding-x: var(--sds-size-padding-xs);
}
.grid-padding-x-sm {
  --grid-padding-x: var(--sds-size-padding-sm);
}
.grid-padding-x-md {
  --grid-padding-x: var(--sds-size-padding-md);
}
.grid-padding-x-lg {
  --grid-padding-x: var(--sds-size-padding-lg);
}
.grid-padding-x-xl {
  --grid-padding-x: var(--sds-size-padding-xl);
}
.grid-padding-x-xxl {
  --grid-padding-x: var(--sds-size-padding-xxl);
}

.grid-padding-y-xs {
  --grid-padding-y: var(--sds-size-padding-xs);
}
.grid-padding-y-sm {
  --grid-padding-y: var(--sds-size-padding-sm);
}
.grid-padding-y-md {
  --grid-padding-y: var(--sds-size-padding-md);
}
.grid-padding-y-lg {
  --grid-padding-y: var(--sds-size-padding-lg);
}
.grid-padding-y-xl {
  --grid-padding-y: var(--sds-size-padding-xl);
}
.grid-padding-y-xxl {
  --grid-padding-y: var(--sds-size-padding-xxl);
}
