.notification {
  --border-radius: var(--sds-size-radius-sm);
  align-items: center;
  background-color: var(--notification-background-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 var(--sds-size-border-width)
    var(--notification-border-color);
  color: var(--notification-color);
  display: grid;
  grid-template-areas: "icon content" "icon content" "icon content";
  grid-template-columns: min-content 1fr;
  justify-content: center;
  padding: var(--sds-size-padding-lg) var(--sds-size-padding-xl)
    var(--sds-size-padding-lg) var(--sds-size-padding-lg);
  position: relative;
  width: 100%;

  > .notification-icon {
    align-self: flex-start;
    grid-area: icon;
    + .notification-content {
      margin-left: var(--sds-size-gap-md);
    }
  }

  > .notification-content {
    grid-area: content;
    > .notification-title + .notification-body {
      margin-top: var(--sds-size-gap-xs);
    }
    > .notification-title {
      font: var(--sds-font-body-strong);
    }
    > .notification-actions {
      margin-top: var(--sds-size-gap-md);
    }
  }

  > .notification-icon > .icon {
    --icon-color: var(--notification-icon);
  }

  > .icon-button {
    position: absolute;
    right: var(--sds-size-padding-sm);
    top: var(--sds-size-padding-sm);
  }
}

.notification-scheme-default {
  --notification-color: var(--sds-color-text-brand-default);
  --notification-icon: var(--sds-color-icon-brand-default);
  --notification-border-color: var(--sds-color-border-brand-default);
  --notification-background-color: var(--sds-color-bg-brand-tertiary);
}
.notification-scheme-danger {
  --notification-color: var(--sds-color-text-danger-tertiary);
  --notification-icon: var(--sds-color-icon-danger-tertiary);
  --notification-border-color: var(--sds-color-border-danger-default);
  --notification-background-color: var(--sds-color-bg-danger-tertiary);
}
