.alert {
  --border-radius: var(--sds-size-radius-xs);
  align-items: center;
  background-color: var(--alert-background-color);
  border-radius: var(--border-radius);
  color: var(--alert-color);
  display: grid;
  grid-template-areas: "icon content" "icon content" "icon content";
  grid-template-columns: min-content 1fr;
  justify-content: center;
  line-height: 1;
  padding: var(--sds-size-padding-lg) var(--sds-size-padding-xl)
    var(--sds-size-padding-lg) var(--sds-size-padding-lg);
  position: relative;
  width: 100%;

  > .alert-icon {
    align-self: flex-start;
    grid-area: icon;
    + .alert-content {
      margin-left: var(--sds-size-gap-md);
    }
  }

  > .alert-content {
    grid-area: content;
    > .alert-title + .alert-body {
      margin-top: var(--sds-size-gap-cs);
    }
    > .alert-title {
      font: var(--sds-font-body-strong);
    }
    > .alert-actions {
      margin-top: var(--sds-size-gap-md);
    }
  }

  > .alert-icon > .icon {
    --icon-color: var(--alert-icon);
  }

  > .icon-button {
    position: absolute;
    right: var(--sds-size-padding-sm);
    top: var(--sds-size-padding-sm);
  }
}
.alert-variant-secondary {
  box-shadow: inset 0 0 0 var(--sds-responsive-border-width)
    var(--alert-border-color);
}

.alert-scheme-default {
  --alert-color: var(--sds-color-text-brand-onbrand);
  --alert-icon: var(--sds-color-icon-brand-onbrand);
  --alert-background-color: var(--sds-color-bg-brand-default);

  &[data-hovered],
  &:has(.alert-remove-button[data-hovered]) {
    --alert-background-color: var(--sds-color-bg-brand-hover);
  }

  &.alert-variant-secondary {
    --alert-color: var(--sds-color-text-brand-onbrand-secondary);
    --alert-icon: var(--sds-color-icon-brand-onbrand-secondary);
    --alert-background-color: var(--sds-color-bg-brand-secondary);
    --alert-border-color: var(--sds-color-border-brand-secondary);
  }
}
.alert-scheme-danger {
  --alert-color: var(--sds-color-text-danger-ondanger);
  --alert-icon: var(--sds-color-icon-danger-ondanger);
  --alert-background-color: var(--sds-color-bg-danger-default);

  &[data-hovered],
  &:has(.alert-remove-button[data-hovered]) {
    --alert-background-color: var(--sds-color-bg-danger-hover);
  }

  &.alert-variant-secondary {
    --alert-color: var(--sds-color-text-danger-ondanger-secondary);
    --alert-icon: var(--sds-color-icon-danger-ondanger-secondary);
    --alert-background-color: var(--sds-color-bg-danger-secondary);
    --alert-border-color: var(--sds-color-border-danger-secondary);
  }
}
