.section {
  box-sizing: border-box;
  padding: var(--padding-y-top) var(--sds-size-space-800)
    var(--padding-y-bottom);
  width: 100%;
}
.section-padding-bottom-800 {
  --padding-y-bottom: var(--sds-size-space-800);
}
.section-padding-top-800 {
  --padding-y-top: var(--sds-size-space-800);
}
.section-padding-bottom-1600 {
  --padding-y-bottom: var(--sds-size-space-1600);
}
.section-padding-top-1600 {
  --padding-y-top: var(--sds-size-space-1600);
}
.section-padding-bottom-4000 {
  --padding-y-bottom: var(--sds-size-space-4000);
}
.section-padding-top-4000 {
  --padding-y-top: var(--sds-size-space-4000);
}

.section-variant-brand {
  background: var(--sds-color-background-brand-default);
  color: var(--sds-color-text-brand-on-brand);
}
.section-variant-secondary {
  background: var(--sds-color-background-default-tertiary);
}
.section-variant-stroke {
  &:not(:last-child) {
    border-bottom: var(--sds-size-stroke-border) solid
      var(--sds-color-border-default-default);
  }
  &:not(:first-child) {
    border-top: var(--sds-size-stroke-border) solid
      var(--sds-color-border-default-default);
  }
  & + .section-variant-stroke {
    border-top: none;
  }
}
.section-variant-subtle {
  background: transparent;
}
