.section {
  box-sizing: border-box;
  padding: var(--padding-y-top) var(--sds-size-padding-section-sm)
    var(--padding-y-bottom);
  width: 100%;
}
.section-padding-bottom-sm {
  --padding-y-bottom: var(--sds-size-padding-section-sm);
}
.section-padding-top-sm {
  --padding-y-top: var(--sds-size-padding-section-sm);
}
.section-padding-bottom-md {
  --padding-y-bottom: var(--sds-size-padding-section-md);
}
.section-padding-top-md {
  --padding-y-top: var(--sds-size-padding-section-md);
}
.section-padding-bottom-lg {
  --padding-y-bottom: var(--sds-size-padding-section-lg);
}
.section-padding-top-lg {
  --padding-y-top: var(--sds-size-padding-section-lg);
}
.section-padding-bottom-xl {
  --padding-y-bottom: var(--sds-size-padding-section-lg);
}
.section-padding-top-xl {
  --padding-y-top: var(--sds-size-padding-section-lg);
}

.section-variant-brand {
  background: var(--sds-color-bg-brand-default);
  color: var(--sds-color-text-brand-onbrand);
}
.section-variant-secondary {
  background: var(--sds-color-bg-default-tertiary);
}
.section-variant-stroke {
  &:not(:last-child) {
    border-bottom: var(--sds-size-border-width) solid
      var(--sds-color-border-default-default);
  }
  &:not(:first-child) {
    border-top: var(--sds-size-border-width) solid
      var(--sds-color-border-default-default);
  }
  & + .section-variant-stroke {
    border-top: none;
  }
}
.section-variant-subtle {
  background: transparent;
}
