.message {
  --border-radius: var(--sds-size-radius-xs);
  align-items: center;
  background-color: var(--message-background-color);
  border-radius: var(--border-radius);
  color: var(--message-color);
  display: grid;
  grid-template-areas: "icon content" "icon content" "icon content";
  grid-template-columns: min-content 1fr;
  justify-content: center;
  line-height: 1;
  padding: var(--sds-size-padding-lg) var(--sds-size-padding-xl)
    var(--sds-size-padding-lg) var(--sds-size-padding-lg);
  position: relative;
  width: 100%;

  > .message-icon {
    align-self: flex-start;
    grid-area: icon;
    + .message-content {
      margin-left: var(--sds-size-gap-md);
    }
  }

  > .message-content {
    grid-area: content;
    > .message-title + .message-body {
      margin-top: var(--sds-size-gap-cs);
    }
    > .message-title {
      font: var(--sds-font-body-bold);
    }
    > .message-actions {
      margin-top: var(--sds-size-gap-md);
    }
  }

  > .message-icon > .icon {
    --icon-color: var(--message-icon);
  }

  > .icon-button {
    position: absolute;
    right: var(--sds-size-padding-sm);
    top: var(--sds-size-padding-sm);
  }
}
.message-variant-secondary {
  box-shadow: inset 0 0 0 var(--sds-responsive-border-width)
    var(--message-border-color);
}

.message-scheme-default {
  --message-color: var(--sds-color-text-brand-onbrand);
  --message-icon: var(--sds-color-icon-brand-onbrand);
  --message-background-color: var(--sds-color-bg-brand-default);

  &[data-hovered],
  &:has(.message-remove-button[data-hovered]) {
    --message-background-color: var(--sds-color-bg-brand-hover);
  }

  &.message-variant-secondary {
    --message-color: var(--sds-color-text-brand-onbrand-secondary);
    --message-icon: var(--sds-color-icon-brand-onbrand-secondary);
    --message-background-color: var(--sds-color-bg-brand-secondary);
    --message-border-color: var(--sds-color-border-brand-secondary);
  }
}
.message-scheme-danger {
  --message-color: var(--sds-color-text-danger-ondanger);
  --message-icon: var(--sds-color-icon-danger-ondanger);
  --message-background-color: var(--sds-color-bg-danger-default);

  &[data-hovered],
  &:has(.message-remove-button[data-hovered]) {
    --message-background-color: var(--sds-color-bg-danger-hover);
  }

  &.message-variant-secondary {
    --message-color: var(--sds-color-text-danger-ondanger-secondary);
    --message-icon: var(--sds-color-icon-danger-ondanger-secondary);
    --message-background-color: var(--sds-color-bg-danger-secondary);
    --message-border-color: var(--sds-color-border-danger-secondary);
  }
}
